.work-subjekt {
  margin-top: 94px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 100px;
}
.work-items {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
