.antena-background {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}

.antena-icon {
  margin-top: 1px;
  margin-left: 10px;
}
.clock-icon {
  margin-top: 1px;
  margin-left: 10px;
}
.clock-background {
  margin-left: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}
.diagram-background {
  margin-left: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-top: 94px;
}
.astronaut-background {
  margin-left: 30px;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-right: 90px;
  margin-top: 94px;
}

.subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-left: 90px;
  margin-bottom: 10px;
}
.tehnology-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 90px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 30px;
}
.plan-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 30px;
}
.punkt-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 0px;
  margin-left: 30px;
}
.first-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-left: 90px;
  margin-top: 10px;
  margin-bottom: 94px;
}
.second-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 94px;
}
.third-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 94px;
  margin-left: 30px;
}
.fourth-text {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-right: 90px;
  margin-top: 10px;
  margin-bottom: 94px;
  margin-left: 30px;
}
.first-conteiner {
  text-align: center;
}
.second-conteiner {
  text-align: center;
}

.div-item {
  display: flex;
  margin-top: 94px;
}
.detal-items {
  margin-bottom: 10px;
}

.items {
  display: flex;
}

.developer-items {
  display: flex;
}
