.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  margin-left: 215px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 9px;
}
.footer-items {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.foot-mail {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-left: 100px;
}

.foot-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 528px;

  color: #ffffff;
}
.foot-mailto {
  margin-top: 9px;
  margin-bottom: 9px;
}
