.foot-input {
  @extend %foot-input;
}

.inp-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $secondarytextColor;
  margin-bottom: 20px;
}

.foot-form {
  margin-left: 93px;
}
