.hero-section {
  height: 600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/background-hero-tab@2-min.jpg);

  align-content: center;
}
.hero-warning {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
