.klient-title {
  @extend %client-title;
}
.klients {
  display: flex;
}
.t-section {
  width: 1351px;
  height: 300px;
}

@media screen and (max-width: 480px) {
  .f-klient {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    width: 210px;
    height: 92px;
    padding-top: 23px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;

    fill: #afb1b8;
  }

  .s-klient {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 30px;
    fill: #afb1b8;
  }

  .t-klient {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 30px;
    fill: #afb1b8;
  }

  .fo-klient {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 30px;
    fill: #afb1b8;
  }

  .fi-klient {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 30px;
    fill: #afb1b8;
  }

  .si-klient {
    display: flex;
    justify-content: center;
    width: 210px;
    height: 92px;
    padding-top: 23px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 30px;
    margin-right: 100px;
    fill: #afb1b8;
  }
}

.f-klient {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
  padding-top: 23px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  fill: #afb1b8;
}

.s-klient {
  display: flex;
  justify-content: center;
  padding-top: 23px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

.t-klient {
  display: flex;
  justify-content: center;
  padding-top: 23px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

.fo-klient {
  display: flex;
  justify-content: center;
  padding-top: 23px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

.fi-klient {
  display: flex;
  justify-content: center;
  padding-top: 23px;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;
  fill: #afb1b8;
}

.si-klient {
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
  padding-top: 23px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 15px;

  fill: #afb1b8;
}

@media screen and (max-width: 480px) {
  .client-contaner {
    display: flex;
  }
  .klients {
    display: inline-block;
  }
}
