.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  margin-left: 100px;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
}
.f-logo {
  color: #2196f3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.s-logo {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 145px;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.f-footlogo {
  color: #2196f3;
}
.s-footlogo {
  color: #ffffff;
}