.modal-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-top: 40px;
  
}
.f-input {
  margin-top: 5px;
  width: 418px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.f-input:focus {
  transition: 250ms;
  border-color: #2196f3;
  fill: #2196f3;
}
.f-input:focus + .svg-lable {
  fill: #2196f3;
  color: #2196f3;
  transition: 250ms;
}

.f-modal-svg :focus {
  fill: #2196f3;
}
.f-form {
  text-align: center;
}
.first-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 34px;
}
.s-input {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  width: 448px;

  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}
.s-input {
  padding-top: 16px;
  padding-bottom: 90px;
}
.s-input:focus {
  transition: 250ms;
  border-color: #2196f3;
  fill: #2196f3;
}
.form-input {
  margin-left: 40px;
}
.f-modal-svg {
  position: absolute;
  top: 98px;
  left: 48px;
  vertical-align: middle;
  transition-property: fill;
}
.s-modal-svg {
  position: absolute;
  top: 179px;
  left: 48px;
  vertical-align: middle;
}
.t-modal-svg {
  position: absolute;
  top: 254px;
  left: 48px;
  vertical-align: middle;
}
