.komand-subjekt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-top: 188px;
  padding-top: 94px;
  margin-bottom: 50px;
  text-align: center;
}
.svg-warning {
  display: flex;
}
.komand-svg {
  background: #ffffff;
}
.komand-svg {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-bottom: 42px;
  margin-top: 28px;
  margin-left: 13px;
  margin-right: 10px;
  fill: #afb1b8;
}

.second-section {
  background-color: #f5f4fa;
  height: 708px;
}

.name-item {
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;

  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.work-item {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.komand-warning {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  text-align: center;
}
.img-item {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 94px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
